@charset "UTF-8";

@font-face {
  font-family: "ka-ex";
  src:url("../fonts/ka-ex.eot");
  src:url("../fonts/ka-ex.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ka-ex.woff") format("woff"),
    url("../fonts/ka-ex.ttf") format("truetype"),
    url("../fonts/ka-ex.svg#ka-ex") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ka-ex" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ka-"]:before,
[class*=" ka-"]:before {
  font-family: "ka-ex" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ka-fire-1:before {
  content: "\63";
}
.ka-campfire:before {
  content: "\64";
}
.ka-burning-fire:before {
  content: "\65";
}
.ka-fire-2:before {
  content: "\66";
}
.ka-fire-station:before {
  content: "\67";
}
.ka-air:before {
  content: "\68";
}
.ka-water:before {
  content: "\69";
}
.ka-water-1:before {
  content: "\6a";
}
.ka-tint:before {
  content: "\6b";
}
.ka-droplet:before {
  content: "\6c";
}
.ka-drops:before {
  content: "\6d";
}
.ka-drop:before {
  content: "\6e";
}
.ka-fuel:before {
  content: "\6f";
}
.ka-oil-well:before {
  content: "\70";
}
.ka-flash:before {
  content: "\71";
}
.ka-lightbulb:before {
  content: "\72";
}
.ka-lamp:before {
  content: "\73";
}
.ka-bulb:before {
  content: "\74";
}
.ka-lightbulb-shine:before {
  content: "\75";
}
.ka-lightbulb-1:before {
  content: "\76";
}
.ka-light-bulb:before {
  content: "\77";
}
.ka-thermometer:before {
  content: "\78";
}
.ka-thermometer-1:before {
  content: "\79";
}
.ka-thermometer-2:before {
  content: "\7a";
}
.ka-celcius:before {
  content: "\41";
}
.ka-farenheit:before {
  content: "\42";
}
.ka-no-smoking:before {
  content: "\43";
}
.ka-streamline-umbrella-weather:before {
  content: "\44";
}
.ka-rain-weather:before {
  content: "\45";
}
.ka-hail-weather:before {
  content: "\46";
}
.ka-rain-black-1:before {
  content: "\48";
}
.ka-rain-1:before {
  content: "\49";
}
.ka-rain-2:before {
  content: "\4a";
}
.ka-rain-black-2:before {
  content: "\4b";
}
.ka-wind-rain-black:before {
  content: "\4c";
}
.ka-wind-rain:before {
  content: "\4d";
}
.ka-rain-3:before {
  content: "\4e";
}
.ka-wind:before {
  content: "\4f";
}
.ka-wind-cloud:before {
  content: "\50";
}
.ka-wind-1:before {
  content: "\51";
}
.ka-wind-black:before {
  content: "\52";
}
.ka-moon-sleep:before {
  content: "\53";
}
.ka-moon:before {
  content: "\54";
}
.ka-params:before {
  content: "\55";
}
.ka-moon-fill:before {
  content: "\56";
}
.ka-moon-1:before {
  content: "\57";
}
.ka-moon-2:before {
  content: "\58";
}
.ka-graph-bar:before {
  content: "\59";
}
.ka-graph-trend:before {
  content: "\5a";
}
.ka-bar-chart:before {
  content: "\30";
}
.ka-chart-area:before {
  content: "\31";
}
.ka-chart-bar:before {
  content: "\32";
}
.ka-chart-line:before {
  content: "\33";
}
.ka-chart-pie:before {
  content: "\34";
}
.ka-bars:before {
  content: "\35";
}
.ka-graph:before {
  content: "\36";
}
.ka-analytics-chart-graph:before {
  content: "\37";
}
.ka-chart-graph-file-1:before {
  content: "\38";
}
.ka-chart-down:before {
  content: "\39";
}
.ka-chart-alt:before {
  content: "\21";
}
.ka-chart:before {
  content: "\22";
}
.ka-bars-1:before {
  content: "\23";
}
.ka-bars-alt:before {
  content: "\24";
}
.ka-signal:before {
  content: "\25";
}
.ka-signal-1:before {
  content: "\26";
}
.ka-statistics:before {
  content: "\27";
}
.ka-beer:before {
  content: "\28";
}
.ka-beer-1:before {
  content: "\29";
}
.ka-beer-2:before {
  content: "\2a";
}
.ka-cup:before {
  content: "\2b";
}
.ka-cup-1:before {
  content: "\2c";
}
.ka-coffee:before {
  content: "\2d";
}
.ka-cup-2:before {
  content: "\2e";
}
.ka-cup-2-1:before {
  content: "\2f";
}
.ka-cafe:before {
  content: "\3a";
}
.ka-lightbulb-2:before {
  content: "\3b";
}
.ka-wrench:before {
  content: "\3c";
}
.ka-bones:before {
  content: "\3d";
}
.ka-wrench-1:before {
  content: "\3e";
}
.ka-phone-home:before {
  content: "\3f";
}
.ka-phone-off:before {
  content: "\40";
}
.ka-phone-on:before {
  content: "\5b";
}
.ka-sun-stroke:before {
  content: "\5d";
}
.ka-target:before {
  content: "\5e";
}
.ka-share:before {
  content: "\5f";
}
.ka-wrench-2:before {
  content: "\60";
}
.ka-key-fill:before {
  content: "\7b";
}
.ka-key-stroke:before {
  content: "\7c";
}
.ka-hail:before {
  content: "\7d";
}
.ka-cloud-1:before {
  content: "\7e";
}
.ka-cloud-2:before {
  content: "\5c";
}
.ka-snow-2:before {
  content: "\e000";
}
.ka-sunrise:before {
  content: "\e001";
}
.ka-sun-half:before {
  content: "\e002";
}
.ka-sun:before {
  content: "\e003";
}
.ka-sun-black:before {
  content: "\e004";
}
.ka-snow-1:before {
  content: "\e005";
}
.ka-snow-black-2:before {
  content: "\e006";
}
.ka-snow-black-1:before {
  content: "\e007";
}
.ka-snow-4:before {
  content: "\e008";
}
.ka-snow-3:before {
  content: "\e009";
}
.ka-lightning-1:before {
  content: "\e00a";
}
.ka-lightning-2:before {
  content: "\e00b";
}
.ka-lightning-3:before {
  content: "\e00c";
}
.ka-lightning-4:before {
  content: "\e00d";
}
.ka-lightning-black-1:before {
  content: "\e00e";
}
.ka-lightning-black-2:before {
  content: "\e00f";
}
.ka-moon-3:before {
  content: "\e010";
}
.ka-moon-black:before {
  content: "\e011";
}
.ka-n-a:before {
  content: "\e012";
}
.ka-hail-black:before {
  content: "\e013";
}
.ka-fog-sunrise:before {
  content: "\e014";
}
.ka-fog:before {
  content: "\e015";
}
.ka-fog-sun:before {
  content: "\e016";
}
.ka-fog-moon:before {
  content: "\e017";
}
.ka-fog-cloud:before {
  content: "\e018";
}
.ka-compass:before {
  content: "\e019";
}
.ka-cloud-sun:before {
  content: "\e01a";
}
.ka-cloud-sun-black:before {
  content: "\e01b";
}
.ka-cloud-moon:before {
  content: "\e01c";
}
.ka-cloud-moon-black:before {
  content: "\e01d";
}
.ka-cloud-black-2:before {
  content: "\e01e";
}
.ka-cloud-black-1:before {
  content: "\e01f";
}
.ka-park2:before {
  content: "\e020";
}
.ka-park:before {
  content: "\e021";
}
.ka-cooler:before {
  content: "\e022";
}
.ka-brightness:before {
  content: "\e023";
}
.ka-brightness-half:before {
  content: "\e024";
}
.ka-spinner:before {
  content: "\e025";
}
.ka-settings:before {
  content: "\e026";
}
.ka-flag:before {
  content: "\e027";
}
.ka-light:before {
  content: "\e028";
}
.ka-light-off:before {
  content: "\e029";
}
.ka-rotate:before {
  content: "\e02a";
}
.ka-circle-filled:before {
  content: "\e02b";
}
.ka-clock-2:before {
  content: "\e02c";
}
.ka-clock-2-outline:before {
  content: "\e02d";
}
.ka-clock:before {
  content: "\e02e";
}
.ka-clock-outline:before {
  content: "\e02f";
}
.ka-clock-time:before {
  content: "\e030";
}
.ka-clock-time-outline:before {
  content: "\e031";
}
.ka-contrast:before {
  content: "\e032";
}
.ka-crosshairpinpoint:before {
  content: "\e033";
}
.ka-display-contrast:before {
  content: "\e034";
}
.ka-disc:before {
  content: "\e035";
}
.ka-data:before {
  content: "\e036";
}
.ka-globe-world:before {
  content: "\e037";
}
.ka-globe-world-1:before {
  content: "\e038";
}
.ka-hammer:before {
  content: "\e039";
}
.ka-heart:before {
  content: "\e03a";
}
.ka-heart-small:before {
  content: "\e03b";
}
.ka-heart-small-outline:before {
  content: "\e03c";
}
.ka-lightbulb-3:before {
  content: "\e03d";
}
.ka-lightbulb-4:before {
  content: "\e03e";
}
.ka-lightbulb-2-1:before {
  content: "\e03f";
}
.ka-lightbulb-outline:before {
  content: "\e040";
}
.ka-speedometer:before {
  content: "\e041";
}
.ka-speedometer-1:before {
  content: "\e042";
}
.ka-speedometer-outline:before {
  content: "\e043";
}
.ka-stopwatch:before {
  content: "\e044";
}
.ka-stopwatch-1:before {
  content: "\e045";
}
.ka-stopwatch-outline:before {
  content: "\e046";
}
.ka-setting-tools:before {
  content: "\e047";
}
.ka-waterdrop:before {
  content: "\e048";
}
.ka-volume-low:before {
  content: "\e049";
}
.ka-volume-high:before {
  content: "\e04a";
}
.ka-volume-mute:before {
  content: "\e04b";
}
.ka-volume-speaker:before {
  content: "\e04c";
}
.ka-thermometer-3:before {
  content: "\e04d";
}
.ka-timer-clock-outline:before {
  content: "\e04e";
}
.ka-timer-clock:before {
  content: "\e04f";
}
.ka-bulb-1:before {
  content: "\e050";
}
.ka-certificate:before {
  content: "\e051";
}
.ka-broom:before {
  content: "\e052";
}
.ka-elusive-icons:before {
  content: "\e053";
}
.ka-heart-1:before {
  content: "\e054";
}
.ka-heart-circled:before {
  content: "\e055";
}
.ka-heart-empty:before {
  content: "\e056";
}
.ka-idea:before {
  content: "\e057";
}
.ka-setting-gear:before {
  content: "\e058";
}
.ka-tint-1:before {
  content: "\e059";
}
.ka-wrench-circled:before {
  content: "\e05a";
}
.ka-radar-2:before {
  content: "\e05b";
}
.ka-rocket:before {
  content: "\e05c";
}
.ka-snow-weather:before {
  content: "\e05d";
}
.ka-sun-weather:before {
  content: "\e05e";
}
.ka-tree:before {
  content: "\e05f";
}
.ka-usb:before {
  content: "\e060";
}
.ka-subscript:before {
  content: "\e061";
}
.ka-superscript:before {
  content: "\e062";
}
.ka-wrench-3:before {
  content: "\e063";
}
.ka-adjust:before {
  content: "\e064";
}
.ka-globe:before {
  content: "\e065";
}
.ka-light-down:before {
  content: "\e066";
}
.ka-light-up:before {
  content: "\e067";
}
.ka-shareable:before {
  content: "\e068";
}
.ka-tools:before {
  content: "\e069";
}
.ka-idea-1:before {
  content: "\e06a";
}
.ka-bolt:before {
  content: "\e06b";
}
.ka-sun-fill:before {
  content: "\e06c";
}
.ka-umbrella:before {
  content: "\e06d";
}
.ka-modem:before {
  content: "\e06e";
}
.ka-danger:before {
  content: "\e06f";
}
.ka-settings-1:before {
  content: "\e070";
}
.ka-battery:before {
  content: "\e071";
}
.ka-graph-horizontal:before {
  content: "\e072";
}
.ka-graph-pie:before {
  content: "\e073";
}
.ka-umbrella-1:before {
  content: "\e074";
}
.ka-location:before {
  content: "\e075";
}
.ka-power-off:before {
  content: "\e076";
}
.ka-database:before {
  content: "\e077";
}
.ka-zap:before {
  content: "\e078";
}
.ka-android-bulb:before {
  content: "\e079";
}
.ka-ios-flame:before {
  content: "\e07a";
}
.ka-ios-flame-outline:before {
  content: "\e07b";
}
.ka-ios-flower:before {
  content: "\e07c";
}
.ka-ios-flower-outline:before {
  content: "\e07d";
}
.ka-ios-medical:before {
  content: "\e07e";
}
.ka-ios-medical-outline:before {
  content: "\e07f";
}
.ka-ios-ionic-outline:before {
  content: "\e080";
}
.ka-vcard:before {
  content: "\e081";
}
.ka-id-card:before {
  content: "\e082";
}
.ka-clock-o:before {
  content: "\e083";
}
.ka-sign-in:before {
  content: "\e084";
}
.ka-signin:before {
  content: "\e085";
}
.ka-sign-out:before {
  content: "\e086";
}
.ka-radio-waves:before {
  content: "\e087";
}
.ka-lightning-weather:before {
  content: "\e088";
}
.ka-clouds-cloudy:before {
  content: "\e089";
}
.ka-cloud-sun-1:before {
  content: "\e08a";
}
.ka-cloud:before {
  content: "\e08b";
}
.ka-sun-o:before {
  content: "\e08c";
}
.ka-bolt-1:before {
  content: "\e08d";
}
.ka-umbrella-2:before {
  content: "\47";
}
.ka-flash-1:before {
  content: "\e08e";
}
.ka-ios-cloud:before {
  content: "\e08f";
}
.ka-ios-cloud-outline:before {
  content: "\e090";
}
.ka-ios-cloudy:before {
  content: "\e091";
}
.ka-ios-cloudy-night:before {
  content: "\e092";
}
.ka-ios-cloudy-night-outline:before {
  content: "\e093";
}
.ka-ios-cloudy-outline:before {
  content: "\e094";
}
.ka-ios-partlysunny:before {
  content: "\e095";
}
.ka-ios-partlysunny-outline:before {
  content: "\e096";
}
.ka-ios-rainy:before {
  content: "\e097";
}
.ka-ios-rainy-outline:before {
  content: "\e098";
}
.ka-ios-snowy:before {
  content: "\e099";
}
.ka-ios-sunny:before {
  content: "\e09a";
}
.ka-ios-sunny-outline:before {
  content: "\e09b";
}
.ka-ios-thunderstorm:before {
  content: "\e09c";
}
.ka-ios-thunderstorm-outline:before {
  content: "\e09d";
}
.ka-flame:before {
  content: "\e09e";
}
.ka-fireball:before {
  content: "\e09f";
}
.ka-outlet:before {
  content: "\e0a0";
}
.ka-grid-lines-streamline:before {
  content: "\e0a1";
}
.ka-barcode:before {
  content: "\e0a2";
}
.ka-gauge:before {
  content: "\e0a3";
}
.ka-thermometer-4:before {
  content: "\e0a4";
}
.ka-bonfire:before {
  content: "\e0a5";
}
.ka-earth:before {
  content: "\e0a6";
}
.ka-home:before {
  content: "\e0a7";
}
.ka-home-1:before {
  content: "\e0a8";
}
.ka-home-2:before {
  content: "\e0a9";
}
.ka-home-1-1:before {
  content: "\e0aa";
}
.ka-dashboard:before {
  content: "\e0ab";
}
.ka-dashboard-speed-streamline:before {
  content: "\e0ac";
}
.ka-cube:before {
  content: "\e0ad";
}
.ka-ios-albums:before {
  content: "\e0ae";
}
.ka-ios-albums-outline:before {
  content: "\e0af";
}
.ka-ios-browsers:before {
  content: "\e0b0";
}
.ka-ios-browsers-outline:before {
  content: "\e0b1";
}
.ka-ios-photos:before {
  content: "\e0b2";
}
.ka-ios-photos-outline:before {
  content: "\e0b3";
}
.ka-stop:before {
  content: "\e0b4";
}
.ka-th-large:before {
  content: "\e0b5";
}
.ka-th:before {
  content: "\e0b6";
}
.ka-stop-1:before {
  content: "\e0b7";
}
.ka-square-o:before {
  content: "\e0b8";
}
.ka-square:before {
  content: "\e0b9";
}
.ka-triangle:before {
  content: "\e0ba";
}
.ka-triangle-stroked:before {
  content: "\e0bb";
}
.ka-fire-extinguisher:before {
  content: "\62";
}
.ka-fire:before {
  content: "\61";
}
.ka-ios-analytics:before {
  content: "\e0bc";
}
.ka-cloudy:before {
  content: "\e0bd";
}
.ka-cloud-3:before {
  content: "\e0be";
}
.ka-light-bulb-1:before {
  content: "\e0bf";
}
.ka-flame-1:before {
  content: "\e0c0";
}
.ka-dashboard-1:before {
  content: "\e0c1";
}
.ka-remove:before {
  content: "\e0c2";
}
.ka-remove-circled:before {
  content: "\e0c3";
}
.ka-remove-circled-two:before {
  content: "\e0c4";
}
.ka-hash:before {
  content: "\e0c5";
}
.ka-placepin:before {
  content: "\e0c6";
}
